html  {
  height: 100vh;
}

body {
  font-family: 'Open Sans', sans-serif;  font-weight: 800;
  font-weight: 800;
  height: 100vh;
  width: 100vw;
  
}

h1  {
  color: #FFFFFF;
  font-size: 50px;
  margin-top: 150px;
  text-align: center;
}

section {
height: 100vh;
}

section.bookmark-border {
  color: #455A64;
}

article {
  background-color: #FFFFFF;
  border: solid 2px #607D8B;
  height: 200px;
  margin: 20px auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 85%;
}

section  {
height: 100vh;
width: 50%;

}

.linked-list-icon  {
  height: 40px;
  width: 50px;
}

.title-url {
  background-color: #455A64;
  float: left;
  height: 100%;
  width: 50%;
}

.bookmarks {
  background-color: #CFD8DC;
  float: right;
  height: 100%;
  width: 50%;
}

#web-title,
#user-url,
#submit-bookmark  {
  height: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  width: 95%;
}

 #submit-bookmark:hover {
  background-color: #FFD773;
  color: #FFFFFF;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .title-url,
  .bookmarks {
    width: 100%;
  }
}
 
.readbutton {
  margin-top: 10px;
}
section.bookmark-border  {
  color: #455A64;
}

.readbutton:hover {
text-decoration: underline solid #FFC107;
}

.deletebutton {
  border: none;
  color: #455A64;
}

.deletebutton:hover {
  text-decoration: underline solid #FFC107;
}

.title-header  {
  border-bottom: solid 2px #CFD8DC; 
  color: #455A64;
  font-size: 32px;
}

.link-header { 
  border-bottom: solid 2px #CFD8DC;
  color: #607D8B;
  display: block;
}
.link-header:hover {
  text-decoration: underline solid #FFC107;
}

.new-read {
  background-color: #F2F4F4;
  color: #F05A26;
}

.delete {
  display: none;
}

@media screen and (max-width: 400px) {
  .title-url,
  .bookmarks {
    float: none;
    width: 100%;
}